.sidebar-form
{
	position: fixed;
	top: 55%;
	right: -350px;
	width: 350px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border-radius: 8px 0 0 8px;
	background-color: #fff;
	padding: 20px;
	transform: translateY(-50%);
	transition: right .4s linear;
    z-index: 10000;
	
}

.sidebar-form.show
{
	right: 0;
}

.sidebar-form .call-action
{
	position: absolute;
	background-color:  #fd3838 ;
	font-family: 'roboto';
	font-weight: 400;
	letter-spacing: 1px;
	color: var(--white);
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	left: -95px;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	
}

.sidebar-form h3
{
	font-family: 'montserrat';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
	color: var(--red);
}

.sidebar-form  .form-group
{
	margin-bottom: 10px;
	
}

.sidebar-form  .form-group label
{
	font-family: 'roboto';
	font-weight: 500;
	font-size:15px;
	margin-bottom: 2px;
	color: #333;

}

.sidebar-form  #submit-btn
{
	width: 100%;
	border:none;
	margin-top: 8px;
	background-color: #fd3838 ;
	color: var(--white);
	padding: 7px;
	font-family: 'roboto';
	font-weight: 400;
	cursor: pointer;
}




.form-popup-bg {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
  }
  .form-popup-bg {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(94, 110, 141, 0.9);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	overflow-y: auto;
	z-index: 10000;
  }
  .form-popup-bg.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  .form-container {
	  background-color: #2d3638;
	  border-radius: 10px;
	  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  max-width: 700px;
	  margin-left: auto;
	  margin-right: auto;
	  position:relative;
	padding: 40px;
	color: #fff;
  }
  .close-button {
	background:none;
	color: #fff;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	border: solid 1px #fff;
  }
  
  .form-popup-bg:before{
	  content:'';
	  background-color: #fff;
	opacity: .25;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  





























