.sidebar-form
{
	position: fixed;
	top: 50%;
	right: -350px;
	width: 350px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border-radius: 8px 0 0 8px;
	background-color: #fff;
	padding: 20px;
	transform: translateY(-50%);
	transition: right .4s linear;
    z-index: 5;
}

.sidebar-form.show
{
	right: 0;
}

.sidebar-form .call-action
{
	position: absolute;
	background-color:  #fd3838 ;
	font-family: 'roboto';
	font-weight: 400;
	letter-spacing: 1px;
	color: var(--white);
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	left: -95px;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
}

.sidebar-form h3
{
	font-family: 'montserrat';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 15px;
	text-align: center;
	color: var(--red);
}

.sidebar-form  .form-group
{
	margin-bottom: 10px;
}

.sidebar-form  .form-group label
{
	font-family: 'roboto';
	font-weight: 500;
	font-size:15px;
	margin-bottom: 2px;
	color: #333;

}

.sidebar-form  #submit-btn
{
	width: 100%;
	border:none;
	margin-top: 8px;
	background-color: #fd3838 ;
	color: var(--white);
	padding: 7px;
	font-family: 'roboto';
	font-weight: 400;
	cursor: pointer;
}